-- DropForeignKey
ALTER TABLE "case_mh_instrument_measure" DROP CONSTRAINT "case_mh_instrument_measure_instrument_id_fkey";

-- DropForeignKey
ALTER TABLE "case_mh_assessment_measure_scores" DROP CONSTRAINT "case_mh_assessment_measure_scores_measure_id_fkey";

-- AlterTable
ALTER TABLE "case_mh_assessment_measure_scores" DROP COLUMN "measure_id";

-- AlterTable
ALTER TABLE "case_person" ALTER COLUMN "education_level_id" SET DATA TYPE VARCHAR(255),
ALTER COLUMN "marital_status_id" SET DATA TYPE VARCHAR(255),
ALTER COLUMN "income_level_id" SET DATA TYPE VARCHAR(255),
ALTER COLUMN "mili_type_id" SET DATA TYPE VARCHAR(255),
ALTER COLUMN "mili_dependent_relationship" SET DATA TYPE VARCHAR(255),
ALTER COLUMN "mili_connection_name" SET DATA TYPE VARCHAR(255),
ALTER COLUMN "custom_field_1" SET DATA TYPE VARCHAR(255),
ALTER COLUMN "custom_field_4" SET DATA TYPE VARCHAR(255),
ALTER COLUMN "community_5" SET DATA TYPE VARCHAR(255),
ALTER COLUMN "case_person_custom_field_6" SET DATA TYPE VARCHAR(255),
ALTER COLUMN "case_person_custom_field_7" SET DATA TYPE VARCHAR(255),
ALTER COLUMN "case_person_custom_field_8" SET DATA TYPE VARCHAR(255),
ALTER COLUMN "case_person_custom_field_9" SET DATA TYPE VARCHAR(255);

-- DropTable
DROP TABLE "case_mh_instrument_measure";

-- DropTable
DROP TABLE "example";

-- AddForeignKey
ALTER TABLE "case_mh_assessment_diagnosis" ADD CONSTRAINT "case_mh_assessment_diagnosis_case_id_fkey" FOREIGN KEY ("case_id") REFERENCES "cac_case"("case_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "case_mh_assessment_diagnosis" ADD CONSTRAINT "case_mh_assessment_diagnosis_mh_provider_agency_id_fkey" FOREIGN KEY ("mh_provider_agency_id") REFERENCES "cac_agency"("agency_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

